#bomber img {
    position: absolute;
    padding: 50px;
    z-index: 9;
    cursor: move;
}

h5 {
    position: relative;
    padding: 25px;
    margin-top: 100px;
}

#button {
    margin: 10px;
    margin-top: 130px;
    margin-left: 150px;
}

#explosion img {
    z-index: 1;
    padding: 50px;
    margin-left: 10px;
    margin-top: -125px;
}

#transbox {
    padding: 50px;
    background-color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

#transbox img:hover {
    opacity: 0;
}

#explosion img:hover {
    opacity: 1;
}

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 30px;
}

.column_2 {
    float: right;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 30px;
}
.row_1, .row_2:after {
    content: "";
    display: table;
    clear: both;
}
